@model IEnumerable<projektowaniaOprogramowania.ViewModels.Users.OsobaModel>

<ul id="userList" class="list-group">
    @foreach (var user in Model)
    {
        <li class="list-group-item" data-id="@user.Id">@user.Imie @user.Nazwisko</li>
    }
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        // Attach click event handler to list items
        $('#userList li').click(function () {
            var userId = $(this).data('id');

            $.ajax({
                url: '@Url.Action("AuthenticateUser", "Osoba")',
                type: 'POST',
                data: { userId: userId },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Error during request.');
                }
            });
        });
    });
</script>
