@using projektowaniaOprogramowania.ViewModels
@model projektowaniaOprogramowania.ViewModels.RekrutacjaModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>RekrutacjaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataOtwarciaRekrutacji" class="control-label"></label>
                <input asp-for="DataOtwarciaRekrutacji" class="form-control" />
                <span asp-validation-for="DataOtwarciaRekrutacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataZamknieciaRekrutacji" class="control-label"></label>
                <input asp-for="DataZamknieciaRekrutacji" class="form-control" />
                <span asp-validation-for="DataZamknieciaRekrutacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataZamknieciaPrzyjec" class="control-label"></label>
                <input asp-for="DataZamknieciaPrzyjec" class="form-control" />
                <span asp-validation-for="DataZamknieciaPrzyjec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopienStudiow" class="control-label"></label>
                <select class="form-control" asp-for="StopienStudiow" asp-items="Html.GetEnumSelectList<StopienStudiow>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="StopienStudiow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusRekrutacji" class="control-label"></label>
                <select class="form-control" asp-for="StatusRekrutacji" asp-items="Html.GetEnumSelectList<StatusRekrutacji>()">
                    <option selected="selected" value="">Please select</option>
                    </select>
                <span asp-validation-for="StatusRekrutacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemestrRekrutacji" class="control-label"></label>
                <select class="form-control" asp-for="SemestrRekrutacji" asp-items="Html.GetEnumSelectList<SemestrRekrutacji>()">
                    <option selected="selected" value="">Please select</option>
                    </select>
                <span asp-validation-for="SemestrRekrutacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
