@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Uzupelnij dane z matury/dorobku naukowego</h2>

<div class="container bg-danger">
    Brak danych niepersonalnych w podaniu do wylicznia wyników
</div>