<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projektowaniaOprogramowania</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="gradient">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <!--<img src="@Url.Content("~/images/pwr_logo.png")" alt="PWr Logo" class="navbar-logo" />-->
                </a>
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="MainPage" asp-action="Index">MainPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Rekrutacja" asp-action="Index">Przeglądaj rekrutacje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="KierunekNaPodaniu" asp-action="Index">Składanie podania</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Podanie" asp-action="Index">Moje konto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="PracownikEdycja" asp-action="Index">Edycja kandydata</a>
                        </li>
                        <li>
                            <button onclick="loadUsers()" class="bg-default">Wybierz użytkownika</button>
                            <div id="userContainer" class="bg-default"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @await RenderSectionAsync("HeaderPart", required: false)

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - projektowaniaOprogramowania - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function loadUsers() {
            $.ajax({
                url: '@Url.Action("GetAllUsers", "Osoba")',
                type: 'GET',
                success: function (data) {
                    $('#userContainer').html(data);
                },
                error: function () {
                    alert('Error loading users.');
                }
            });
        }

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
